* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

:root {
  --primary-font: "Poppins", Helvetica, sans-serif;
  --secondary-font: "Courgette", cursive;
  --heading-font: "Archivo Black", sans-serif;

  font-family: var(--primary-font);
  line-height: 1.5;
  font-weight: 400;
  color: #023c71;
}

body,
h1,
h2,
h3,
p,
a {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font), var(--primary-font);
}

blockquote {
  font-family: var(--secondary-font), var(--primary-font);
}

a {
  color: #023c71;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #024e95;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #fff;
}

h3,
h2,
h1,
p {
  color: #023c71;
}
