@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

:root {
  font-family: "Poppins", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #023c71;
}

a {
  color: #023c71;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #024e95;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #fff;
}

h3,
h2,
h1,
p {
  color: #023c71;
}
